################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/Turma11-grupo04/bin/Debug/net6.0
/src/Turma11-grupo04/obj
/src/Turma11-grupo04/.vs
/src/Turma11-grupo04/.vs/Turma11-grupo04/v17/.suo
