<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Turma11_grupo04</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/createCobrador.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Turma11_grupo04.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <style>
        header {
            min-height: 10vh;
            max-height: 10vh;
        }

        .content {
            min-height: 90vh;
            max-height: 90vh;
        }

        .navbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba(16, 144, 203, 0.10);
            margin: 0px;
            padding: 20px;
        }

        .navbar-brand {
            width: 40%;
        }

        .navbar-nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 60%;
        }

        .nav-singup {
            background-color: #1090CB;
            border-radius: 6px;
            border: none;
            color: #FFF;
            font-family: Poppins;
            padding: 10px 24px;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px;
        }

        .navbar-nav li {
            list-style-type: none;
            cursor: pointer;
        }

            .navbar-nav li a {
                font-family: Poppins;
                font-size: 16px;
                text-decoration: none;
                color: black;
            }

            .navbar-nav li button {
                cursor: pointer;
            }

            .navbar-nav li a:hover {
                color: #1090CB;
            }

    </style>
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/LOGO.svg" />
            </a>
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Sobre nós</a>
                </li>
                <li>
                    <a class="nav-link text-dark">Serviços</a>
                </li>

                <li>
                    <a class="nav-link text-dark "asp-action="Index" asp-controller="Login" >Entrar</a>
                </li>
                <li>
                    <a class="nav-singup" asp-area="" asp-controller="Cobradores" asp-action="Create">Cadastrar </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
