html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  min-height: 100%;
}

body {
  font-family: Poppins;
  letter-spacing: 1px;
  height: 100%;
}



.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}