@model turma11_grupo04.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cliente</h4>

<link rel="stylesheet" href="~/css/PopupCadastroCliente.css">

<div class="container mt-5">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Cadastrar cliente
    </button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body">
                    <h5 class="modal-title" id="exampleModalLabel">Cadastrar cliente</h5><br>
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Nome" class="form-control" placeholder="Nome completo" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="CPF" class="form-control" id="cpfInput" placeholder="CPF" />
                            <span asp-validation-for="CPF" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Telefone" class="form-control" placeholder="Telefone" />
                            <span asp-validation-for="Telefone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="CobradorId" class="control-label">1</input>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Cadastrar" class="btn btn-primary" />
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



    <style>

        
    </style>

<script>
    const cpfInput = document.getElementById('cpfInput');

    cpfInput.addEventListener('input', (e) => {
        // Remove todos os caracteres não numéricos
        const inputText = e.target.value.replace(/\D/g, '');

        // Formate o CPF
        const formattedCPF = formatCPF(inputText);

        // Atualize o campo de entrada com o CPF formatado
        e.target.value = formattedCPF;
    });

    function formatCPF(cpf) {
        if (cpf.length >= 4) {
            return cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
        }
        return cpf;
    }


    $(document).ready(function () {
        $('#Telefone').on('input', function () {
            var input = $(this);
            var value = input.val().replace(/\D/g, ''); // Remove não dígitos
            var formattedValue = '';

            if (value.length > 2) {
                formattedValue = '(' + value.slice(0, 2) + ')';
            } else {
                formattedValue = '(' + value;
            }

            if (value.length > 2) {
                formattedValue += value.slice(2, 6);
            } else {
                formattedValue += value.slice(2);
            }

            if (value.length > 6) {
                formattedValue += '-' + value.slice(6, 10);
            } else {
                formattedValue += '-';
            }

            input.val(formattedValue);
        });
    });

</script>
