
@{
    ViewData["Title"] = "AboutUs";
}

<h1 class="display-6 title-aboutus">Quem somos?</h1>

<p class="text-aboutus">
    Somos um grupo de estudantes da PUC Minas, unidos por nossa paixão por resolver problemas complexos e transformar ideias em realidade.
    Cada membro do nosso grupo traz uma perspectiva única e valiosa, enriquecendo nosso trabalho e permitindo que abordemos os desafios de maneiras inovadoras.

    <br />
    O tema do nosso projeto é a “Otimização de Cobranças”. A ideia surgiu de uma conversa casual entre um dos nossos membros e um conhecido que expressou frustrações
    com o processo de cobrança atual. Isso nos levou a questionar: “Como podemos tornar este processo mais eficiente e menos estressante para
    todos os envolvidos?” Assim, embarcamos nesta jornada para desenvolver uma solução que não apenas atenda às necessidades dos negócios,
    mas também facilite a vida dos clientes.

</p>

<div class="d-flex flex-wrap container-photos">
       <div class="d-inline-flex align-items-center mb-3">
            <img src="../teste.jpg" alt="foto de perfil" class="img-aboutus" />
            <div class="d-flex flex-column ml-3">
            <div class="p-2 nome">Bárbara Sena </div>
                <div class="p-2 social-media">LinkedIn</div>
            </div>
        </div>

        <div class="d-inline-flex align-items-center mb-3">
                <img src="../eduarda.jpeg" alt="foto de perfil" class="img-aboutus" />
            <div class="d-flex flex-column ml-3">
                <div class="p-2 nome">Eduarda Silva</div>
                <div class="p-2 social-media">LinkedIn</div>
            </div>
        </div>

        <div class="d-inline-flex align-items-center mb-3">
                <img src="../lucas.png" alt="foto de perfil" class="img-aboutus" />
            <div class="d-flex flex-column ml-3">
                    <div class="p-2 nome">Lucas Sampaio</div>
                <div class="p-2 social-media">LinkedIn</div>
            </div>
        </div>

        <div class="d-inline-flex align-items-center mb-3">
                <img src="../cassioo.png" alt="foto de perfil" class="img-aboutus" />
            <div class="d-flex flex-column ml-3">
                    <div class="p-2 nome">Cassio Kawamura</div>
                <div class="p-2 social-media">LinkedIn</div>
            </div>
        </div>

        <div class="d-inline-flex align-items-center mb-3">
            <img src="../gleyston.png" alt="foto de perfil" class="img-aboutus" />
            <div class="d-flex flex-column ml-3">
                    <div class="p-2 nome">Gleyston Silva</div>
                <div class="p-2 social-media">LinkedIn</div>
            </div>
        </div>

        <div class="d-inline-flex align-items-center mb-3">
                <img src="../lucy.jpeg" alt="foto de perfil" class="img-aboutus" />
            <div class="d-flex flex-column ml-3">
                    <div class="p-2 nome">Lucy Suxo</div>
                <div class="p-2 social-media">LinkedIn</div>
            </div>
        </div>

</div>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #1090CB1A;
    }

    .title-aboutus {
        font-size: 30px;
        color: #1090CB;
        margin: 10px 0;
        text-align: center;
    }

    .text-aboutus {

        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 30px;
        text-align: center;
    }

    .container-photos {
        justify-content: flex-start; 
        flex-wrap: wrap; 
        margin-left: 1rem;
    }

    .d-inline-flex {
        align-items: center;
    }

    .img-aboutus {
        margin-bottom: 20px;
        width: 117px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    .nome,
    .social-media {
        margin-left: 5px;
    }

    .nome {
        font-size: 20px;
    }

    .social-media {
        font-size: 15px;
        color: #969696;
    }
</style>