@model Projeto_Eixo_2.Models.Cobranca

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.3/dist/js/bootstrap.bundle.min.js"></script>


@{
    ViewData["Title"] = "Create";
    bool isAdmin = User.IsInRole("Admin"); // Ou qualquer outra lógica para verificar se o usuário é um administrador

}



<div class="column p-4">
    <div class="row mb-3 ">
        <h1 class="title mr-2">Cadastro de cobrança</h1>
        <button onclick="location.href='@Url.Action("Details", "Cobradores", new {id = ViewBag.CobradorInfo.Id})'" class="btn btn-primary">Voltar</button>
    </div>
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" value="@ViewBag.CobradorInfo.Id" asp-for="CobradorId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vencimento" class="control-label"></label>
                <input asp-for="Vencimento" class="form-control" />
                <span asp-validation-for="Vencimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group" id="clienteSelectGroup">
                <label asp-for="ClienteId" class="control-label"> Nome do Cliente</label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>

            </div>
            <div class="color text-danger" id="mensagemSemClientes" style="display: none;">
                <p>Nenhum cliente disponível para este cobrador.</p>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<style>
    body {
        background-color: white;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}