@model Projeto_Eixo_2.Models.Cobrador

@{
    ViewData["Title"] = "Create";
}

<div class="d-md-inline-flex justify-content-between">
        <div class="col-md-4 my-auto">
            <h1 class="text-center font-weight-bold text-white">Otimize suas cobranças</h1>
            <img src="~/src/imagem_login.svg" />
        </div>
   
    <div class="mb-3 justify-content-center" style="background-color: white; border-radius: 20px; padding: 50px; margin-top: 40px; height: calc(100vh - 130px); width: 600px">
        <h2 style="text-align: center; margin-bottom: 10px">Crie sua conta grátis!</h2>
        <form asp-action="Create" style="overflow: auto; height: 80%" enctype="multipart/form-data">
            <div class="mb-3 form-group">
                <input asp-for="NomeCobrador" class="form-control" placeholder="Nome" />
                <span asp-validation-for="NomeCobrador" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="SobrenomeCobrador" class="form-control" placeholder="Sobrenome" />
                <span asp-validation-for="SobrenomeCobrador" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="CPF" id="cpf" class="form-control" placeholder="CPF" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="Email" class="form-control" type="email" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="CEP" id="cep" class="form-control" placeholder="CEP" />
                <span asp-validation-for="CEP" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="Endereco" class="form-control" placeholder="Endereço" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="Bairro" class="form-control" placeholder="Bairro" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="Cidade" class="form-control" placeholder="Cidade" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="UF" class="form-control" placeholder="Estado" />
                <span asp-validation-for="UF" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="Telefone" class="form-control" placeholder="Telefone" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="Senha" class="form-control" placeholder="Senha" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="Perfil" class="control-label"></label>
                <select asp-for="Perfil" class="form-control" asp-items="Html.GetEnumSelectList<Perfil>()"></select>
                <span asp-validation-for="Perfil" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="FotoArquivo" class="control-label"></label>
                <input asp-for="FotoArquivo" type="file" class="form-control" />
                <span asp-validation-for="FotoArquivo" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input type="submit" value="Criar conta" class="btn btn-info btn-lg" style="width: 100%" />
            </div>
            <h7 class="text-black-50">Já possui uma conta?<a asp-area="" asp-controller="Cobradores" asp-action="Login">Entrar</a></h7>
        </form>
    </div>
</div>


<script>

    $(document).ready(function () {
        // Máscara para CPF
        $('#cpf').mask('000.000.000-00', { reverse: true });

        // Máscara para CEP
        $('#cep').mask('00000-000');
    });

</script>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #1889be66;
    }
    /*#margem{
            margin: 80px, auto;
            padding: 5em;
        }
        */

</style>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
