@model Projeto_Eixo_2.Models.Cobrador

@{
    ViewData["Title"] = "Create";
}

<div class="d-md-inline-flex justify-content-between">
        <div class="col-md-4 my-auto">
            <h1 class="text-center font-weight-bold text-white">Otimize suas cobranças</h1>
            <img src="~/src/imagem_login.svg" />
        </div>
   
    <div class="mb-3 justify-content-center" style="background-color: white; border-radius: 20px; padding: 50px; margin-top: 40px; height: calc(100vh - 130px); width: 600px">
        <h2 style="text-align: center; margin-bottom: 10px">Crie sua conta grátis!</h2>
        <form asp-action="Create" style="overflow: auto; height: 80%" id="cadastro" enctype="multipart/form-data">
            <div class="mb-3 form-group">
                <input asp-for="NomeCobrador" class="form-control" placeholder="Nome" />
                <span asp-validation-for="NomeCobrador" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="SobrenomeCobrador" class="form-control" placeholder="Sobrenome" />
                <span asp-validation-for="SobrenomeCobrador" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="CPF" id="cpf" class="form-control" placeholder="CPF" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="Email" class="form-control" type="email" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="CEP" id="cep" class="form-control" placeholder="CEP" />
                <span asp-validation-for="CEP" id="cep-error" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="Endereco" id="rua" class="form-control" placeholder="Endereço" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="Bairro" id="bairro" class="form-control" placeholder="Bairro" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="Cidade" id="cidade" class="form-control" placeholder="Cidade" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="UF" id="estado" class="form-control" placeholder="Estado" />
                <span asp-validation-for="UF" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="Telefone" class="form-control" placeholder="Telefone" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input asp-for="Senha" class="form-control" placeholder="Senha" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="Perfil" class="control-label"></label>
                <select asp-for="Perfil" class="form-control" asp-items="Html.GetEnumSelectList<Perfil>()"></select>
                <span asp-validation-for="Perfil" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="FotoArquivo" class="control-label"></label>
                <input asp-for="FotoArquivo" type="file" class="form-control" />
                <span asp-validation-for="FotoArquivo" class="text-danger"></span>
            </div>                         
        </form>
            <div class="mb-3 form-group d-flex flex-column">
                <button type="button" onclick="document.getElementById('cadastro').submit();" style="width: 100%;" class="btn btn-info btn-lg">Cadastrar</button>
            <h7 class="text-black-50 mt-2" style="align-self:center">Já possui uma conta?<a asp-area="" asp-controller="Cobradores" asp-action="Login">Entrar</a></h7>
            </div>
    </div>

   @*  <div id="loading" style="display: block; ">
        <img style="width: 40px; height: 40px; margin: 0 auto; " src="/src/loading.gif" alt="Loading..." />
    </div> *@

</div>




<script>
    //Mascara
    $(document).ready(function () {
        // Máscara para CPF
        $('#cpf').mask('000.000.000-00', { reverse: true });

        // Máscara para CEP
        $('#cep').mask('00000-000');

    //Loading
     @*
        // Captura do formulário
    var form = $('#cadastro');

        // Adiciona um manipulador de evento para o envio do formulário
        form.submit(function (e) {
            e.preventDefault(); // Evita o envio padrão do formulário

            // Exibe o indicador de carregamento
            $('#loading').show();

            // Obtém os dados do formulário
            var formData = new FormData(form[0]);

            // Realiza a requisição assíncrona (Ajax)
            $.ajax({
                url:'/Cobradores/Create', // URL do seu endpoint de cadastro
                type: 'POST', // Método HTTP do formulário (por exemplo, POST)
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    // Lida com o sucesso da requisição
                    console.log('Cadastro realizado com sucesso!', data);

                    // Oculta o indicador de carregamento
                    $('#loading').hide();
                },
                error: function (error) {
                    // Lida com falhas na requisição
                    console.error('Erro ao cadastrar:', error);

                    // Oculta o indicador de carregamento
                    $('#loading').hide();
            }
        });


            });*@

            document.getElementById('cep').addEventListener('blur', function () {
                const cep = this.value.replace(/\D/g, '');

                if (cep.length === 8) {
                    consultarCEP(cep);
                }
            });

        function consultarCEP(cep) {
            fetch(`https://viacep.com.br/ws/${cep}/json/`)
                .then(response => response.json())
                .then(data => {
                    if (!data.erro) {
                        preencherCamposEndereco(data);
                    } else {
                        document.getElementById('cep-error').innerText = 'CEP não encontrado';
                    }
                })
                .catch(error => console.error('Erro ao consultar CEP:', error));
        }

        function preencherCamposEndereco(data) {
            document.getElementById('cep-error').innerText = '';

            // Preencha os campos desejados com os dados obtidos da API
            document.getElementById('cidade').value = data.localidade;
            document.getElementById('estado').value = data.uf;
            document.getElementById('rua').value = data.logradouro;
            document.getElementById('bairro').value = data.bairro;

        }
    });



</script>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #1889be66;
    }
    /*#margem{
            margin: 80px, auto;
            padding: 5em;
        }
        */

</style>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
