
@{
    ViewData["Title"] = "AboutUs";
}

<link rel="stylesheet" href="~/css/home.css">

<h1 class="display-6">Quem somos?</h1>

<p>Somos um grupo de estudantes da PUC Minas com intuito de colocar em prática nossos aprendizados teóricos. A ideia do projeto surgiu através de uma conversa entre um dos alunos do grupo com um conhecido.</p>

<div class="class=" d-flex flex-row mb-3"">
    <img src="../teste.jpg" alt="foto de perfil" />
    <div class="class=" d-flex flex-row mb-3"">
        <div class="p-2">
            <p>Oi</p>
        </div>
        <div class="p-2">
            <p>Oi</p>
        </div>
    </div>
</div>
 
