@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css">
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-7 align-items-center">
                <h1 class="display-4"><strong>A Solução <strong1>ágil</strong1> para cobranças de <strong1>sucesso</strong1>.</strong></h1>
                <h2 class="display-6" style="margin-bottom: 10px;">Quer ter uma gestão financeira eficiente e resultados satisfatórios em suas cobranças?</h2>
                <button id="btn_cadastrar" type="button" class="btn btn-primary">Cadastrar</button>
                <button id="btn_entrar" type="button" class="btn btn-light">Entrar</button>
            </div>

            <div class="col-md-5">
                <img id="btn_cadastre" src="~/src/cobrança 1.png" style="width:auto; height: auto;">
            </div>
        </div>
    </div

        

     <div class="btn_cadastrar_entrar">

                </div>
            

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card p-4">
                    <div class="d-flex flex-row mb-3"><img src="~/src/btn_cadastre.png" />
                        <div class="d-flex flex-column ml-2"><span>Cadastre</span><span>É rápido e sinples</span></div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-4">
                    <div class="d-flex flex-row mb-3">
                        <img src="~/src/btn_cadastre.png" />
                        <div class="d-flex flex-column ml-2"><span>Cadastre</span><span>É rápido e sinples</span></div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-4">
                    <div class="d-flex flex-row mb-3"><img src="~/src/btn_cadastre.png" />
                        <div class="d-flex flex-column ml-2"><span>Cadastre</span><span>É rápido e sinples</span></div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-4">
                    <div class="d-flex flex-row mb-3">
                        <img src="~/src/btn_cadastre.png" />
                        <div class="d-flex flex-column ml-2"><span>Cadastre</span><span>É rápido e sinples</span></div>

                    </div>
                </div>
            </div>
        </div>
    </div>



            <div>
                


                <div class="container">
                    <div class="row">
                        <div class="col-md">
                            <div class="col-4"><img id="btn_cadastre" src="~/src/btn_cadastre.png">
                                <div class="col-8">
                                    <ul>
                                        <li>Cadastre</li>
                                        <li>É rápido e simples</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md">
                            TESTE
                        </div>
                        <div class="col-md">
                            One of three columns
                        </div>
                        <div class="col-md">
                            One of three columns
                        </div>
                    </div>
                </div>
            </div>


</body>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

