html {
  font-size: 14px;
  max-height: 100vw;
  max-width: 100vw;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .custom-max-width {
    max-width: 1800px; /* Para telas maiores ou iguais a 769px */
  }
}


body {
  font-family: Poppins;
  letter-spacing: 1px;
  height: 100%;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}