html {
  font-size: 14px;
  max-height: 100vw;
  max-width: 100vw;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .custom-max-width {
    max-width: 1800px; /* Para telas maiores ou iguais a 769px */
  }
}


body {
  font-family: Poppins;
  letter-spacing: 1px;
  height: 100%;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media (max-width: 800px) {
    .title-services {
        font-size: 25px !important; /* Ocupar a largura total da tela em telas menores */
    }

    .foreground-image {
        max-width: 290px !important;
        height: 200px !important;
        margin-left: -145px !important;
    }

    @media (max-width: 400px) {
        .title-services {
            font-size: 25px !important; /* Ocupar a largura total da tela em telas menores */
        }

        .foreground-image {
            display: none !important;
        }

        .background-image {
            display: none !important;
        }
    }
}

