@model LoginModel

@{

    ViewData["Title"] = "Login";

}



<link rel="stylesheet" href="/css/loginPage.css" />


<div class="login-container">
    <div class="container-lateral" style="width:350px">
        <h1 class="main-signuptitle">Otimize suas cobranças</h1>
        <img src="https://www.grupocentralcobrancas.com.br/uploads/produto/2022-01-141642173036_fb39f44892a2d3fca8eb.png" class="imagem" width="300" alt="Imagem de aumento de vendas">
    </div>



    <div class="Login-signup-form">
        <h1 class="main-title" style="text-align:center">Faça seu Login</h1>



        <form asp-controller="Login" asp-action="Entrar" method="post">

            <div class="form-label-group ">

                <input type="text" id="login" name="username" class="form-control input-style" placeholder="Login" required autofocus>
                <label for="login"></label>
                @Html.ValidationMessageFor(c=> c.Email)
                
            </div>

            <div class="form-label-group">
                <input type="password" id="senha" name="senha" class="form-control input-style" placeholder="Senha" required>
                <label for="senha"></label>
                @Html.ValidationMessageFor(c=> c.Senha)
                
            </div>

            <button class=" btn-login " type="submit">Entrar</button>

            <div class="mt-4">

                <div class="d-flex justify-content links">
                    <p>Esqueceu sua senha? <a asp-action="RedefinirSenha" asp-controller="Login">Redefinir minha senha</a></p>
                    
                </div>

                <div class="d-flex justify-content links">
                    Ainda não tem uma conta? <a href="#" class="ml-2">Cadastre-se</a>
                </div>



            </div>

        </form>

    </div>
    
</div>