html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

* {
    margin: 0px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    width: 100%;
}
